In [1]:
#important pandas library as pd
import pandas as pd

In [2]:
#Load our csv file
filepath ="DataFiles/violence_data.csv"
df=pd.read_csv(filepath)

In [3]:
#Display the first 5 rows of our data set
df.head()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8

In [4]:
#Checking the number of rows and columns in our dataset
df.shape

(12600, 8)

In [5]:
#Checking the columns we have to determine which ones to keep and which ones to remove
df.columns

Index(['RecordID', 'Country', 'Gender', 'Demographics Question',
       'Demographics Response', 'Question', 'Survey Year', 'Value'],
      dtype='object')

In [6]:
#Dropping the column named Value
df=df.drop("Value", axis=1)

In [7]:
df

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015
...,...,...,...,...,...,...,...
12595,210,Zimbabwe,M,Residence,Urban,... if she goes out without telling him,01/01/2015
12596,280,Zimbabwe,M,Residence,Rural,... if she neglects the children,01/01/2015
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children,01/01/2015
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015

In [8]:
#Acess the Survey year column
df["Survey Year"]

0        01/01/2015
1        01/01/2015
2        01/01/2015
3        01/01/2015
4        01/01/2015
            ...
12595    01/01/2015
12596    01/01/2015
12597    01/01/2015
12598    01/01/2015
12599    01/01/2015
Name: Survey Year, Length: 12600, dtype: object

In [9]:
#Drop the Survey Year column
df=df.drop("Survey Year" ,axis=1)

In [10]:
df

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food
1,1,Afghanistan,F,Education,Higher,... if she burns the food
2,1,Afghanistan,F,Education,Secondary,... if she burns the food
3,1,Afghanistan,F,Education,Primary,... if she burns the food
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food
...,...,...,...,...,...,...
12595,210,Zimbabwe,M,Residence,Urban,... if she goes out without telling him
12596,280,Zimbabwe,M,Residence,Rural,... if she neglects the children
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him

In [11]:
#Filtered Kenya data
df_filtered = df[df["Country"] == "Kenya"]

In [12]:
df_filtered

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question
6120,385,Kenya,F,Age,15-24,... for at least one specific reason
6121,385,Kenya,F,Age,25-34,... for at least one specific reason
6122,385,Kenya,F,Age,35-49,... for at least one specific reason
6123,105,Kenya,F,Age,15-24,... if she argues with him
6124,105,Kenya,F,Age,25-34,... if she argues with him
...,...,...,...,...,...,...
6295,175,Kenya,M,Residence,Urban,... if she goes out without telling him
6296,245,Kenya,M,Residence,Rural,... if she neglects the children
6297,245,Kenya,M,Residence,Urban,... if she neglects the children
6298,315,Kenya,M,Residence,Rural,... if she refuses to have sex with him
6299,315,Kenya,M,Residence,Urban,... if she refuses to have sex with him

In [13]:
df_filtered_females = df_filtered[df_filtered["Gender"] =="F"]
df_filtered_females

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question
6120,385,Kenya,F,Age,15-24,... for at least one specific reason
6121,385,Kenya,F,Age,25-34,... for at least one specific reason
6122,385,Kenya,F,Age,35-49,... for at least one specific reason
6123,105,Kenya,F,Age,15-24,... if she argues with him
6124,105,Kenya,F,Age,25-34,... if she argues with him
...,...,...,...,...,...,...
6205,175,Kenya,F,Residence,Urban,... if she goes out without telling him
6206,245,Kenya,F,Residence,Rural,... if she neglects the children
6207,245,Kenya,F,Residence,Urban,... if she neglects the children
6208,315,Kenya,F,Residence,Rural,... if she refuses to have sex with him
6209,315,Kenya,F,Residence,Urban,... if she refuses to have sex with him

In [14]:
df_filtered_females

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question
6120,385,Kenya,F,Age,15-24,... for at least one specific reason
6121,385,Kenya,F,Age,25-34,... for at least one specific reason
6122,385,Kenya,F,Age,35-49,... for at least one specific reason
6123,105,Kenya,F,Age,15-24,... if she argues with him
6124,105,Kenya,F,Age,25-34,... if she argues with him
...,...,...,...,...,...,...
6205,175,Kenya,F,Residence,Urban,... if she goes out without telling him
6206,245,Kenya,F,Residence,Rural,... if she neglects the children
6207,245,Kenya,F,Residence,Urban,... if she neglects the children
6208,315,Kenya,F,Residence,Rural,... if she refuses to have sex with him
6209,315,Kenya,F,Residence,Urban,... if she refuses to have sex with him

In [15]:
df_filtered_females[df_filtered_females["Demographics Question"]=="Age"]

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question
6120,385,Kenya,F,Age,15-24,... for at least one specific reason
6121,385,Kenya,F,Age,25-34,... for at least one specific reason
6122,385,Kenya,F,Age,35-49,... for at least one specific reason
6123,105,Kenya,F,Age,15-24,... if she argues with him
6124,105,Kenya,F,Age,25-34,... if she argues with him
6125,105,Kenya,F,Age,35-49,... if she argues with him
6126,35,Kenya,F,Age,15-24,... if she burns the food
6127,35,Kenya,F,Age,25-34,... if she burns the food
6128,35,Kenya,F,Age,35-49,... if she burns the food
6129,175,Kenya,F,Age,15-24,... if she goes out without telling him
6130,175,Kenya,F,Age,25-34,... if she goes out without telling him
6131,175,Kenya,F,Age,35-49,... if she goes out without telling him
6132,245,Kenya,F,Age,15-24,... if she neglects the children
6133,245,Kenya,F,Age,25-34,... if she neglects the children
6134,245,Kenya,F,Age,35-49,... if she neglects the children
6135,315,Kenya,F,Age,15-24,... if she refuses to have sex with him
6136,315,Kenya,F,Age,25-34,... if she refuses to have sex with him
6137,315,Kenya,F,Age,35-49,... if she refuses to have sex with him

In [48]:
#checking for null values
df.isnull().any().sum()

0

In [54]:
#checking for duplicates
df.duplicated().sum()

0